    <div class="card h-100">
        <a href="#"><img class="card-img-top img-fluid" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-block">
            <h4 class="card-title"><a href="#">{{ vm.itemProperty.city }} <br>{{ vm.itemProperty.bedrooms }} Bedroom / {{ vm.item.baths }} Bath  </a></h4>
            <h5>{{ vm.itemProperty.rentAmount }} per Month</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>
